createdAt: "2018-08-23T20:01:20.757Z"
updatedAt: "2018-10-30T20:13:03.858Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Todo"
content: '''
  ## Todo 
  
  - Duplicate leads, Christy Mitchell, #4678
    - Problem: make two leads with same name, one will overwrite the other
    - Not occurring in Master WHEN you select New and not Update in the follow up warning box
    - User: cmitchell pass: Vinnie2010
    - To test on their server
    - User who generated: cadcock pass: cadcock
    - User assigned: jscott  pass: Milorhys2011
    - Original problem lead: Robert Johnson with phone number of 931 2181, overwrites some information and mixing phone num, emails, etc.
    - Check again with Christy's login to reproduce problem
    - Might have to do with group rights
    - Since it appears to not be affecting everyone, it is not ready for a TFS
    - try user: aclose pass: aclose
    - In Settings>User Settings>User>Groups there might be an issue with the "Admin" group rights
    - Not happening to Arielle, another admin
  
  - WeSuite Go Issue, Angela Lagrange, # 4683
    - Users cannot log into WeSuite Go
    - I have app installed, but need their credentials to start debugging
    - Once I have that, we can use Postman to start debugging
    - Already checked with licensing and there appears to be nothing wrong there
    - angela login
      - username: angela.lagrange email: alagrange@acadian.com id: 71367
      - euser key: 3,angela.lagrange,poFQRjZBR2XpNTo77yK0Hp3QoLFdoDbzT83zxer4TZ/Fi6bWpfMl8aDkr4T9AYP3iO99b9rpH/19R/O8coLZVA==
'''
tags: []
isStarred: false
isTrashed: true
