createdAt: "2018-11-28T22:05:01.235Z"
updatedAt: "2018-12-19T21:52:21.233Z"
type: "MARKDOWN_NOTE"
folder: "b0ba50dc09be9361d2aa"
title: "To Do"
content: '''
  To Do
  
  NextGen contracts (3 new contracts)
  NextGen contract changes
  
  Finish huronia (place optional folders AFTER investment summary and Docusign setup)
  
  SEi - 3 Contract updates
  
  IPS document issue - already followed up
  
  ISS - Shane Pollard - document issue (need to follow up with michelle)
  
  select security - upload modified contracts
  
  ESS - new document edits
  
  Kenton - logic for office location and references, remaining logic for RMR and terms conditions
  
  ackerman - look at email arturo sent and fix
'''
tags: []
isStarred: false
isTrashed: false
