createdAt: "2018-08-24T13:32:52.890Z"
updatedAt: "2018-09-28T12:52:55.237Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Contacts info"
content: '''
  ## Contacts info
  
  Workplace Related Info
  Code 1: 540 396 254 (Keeper)
  
  Arturo Bravo - supervisor
  Michelle Domino-Burrows - Co-worker, goes to client worksite
  Mariuxi Tapia - Co-worker, went on vacation
  Stephen Roth (cau male, brown hair) - goofyish 
  Samantha Perry (lar cau female, brown hair)
  Tracy Larson (president)
  Isac Tabib (VP advisor) - very interested in immigration talk and his background
  Michael Fazio (VP software development)
  Beth Powers - HR person, by front desk, next to Samanths
  Richard - guy sitting in corner to the right of me
  Stephen - other Stephen guy who sits by Arturo
  Mike - guy sitting next to Richard
'''
tags: []
isStarred: false
isTrashed: true
