createdAt: "2018-10-17T15:09:35.696Z"
updatedAt: "2018-10-17T19:45:25.800Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "quick fix"
content: '''
  quick fix
  
  script
  Really, what I enjoy about software is the ability to help people through simple but efficient solutions. What makes me really productive throughout the day is the mixture of apps and scripts that I enjoy using. Being productive is one of the best feelings a person can have and that's what I strive for at the minimum of each and every day. From college, in most of my senior level programming classes - being able to pick up new methodologies and programming techniques enabled me to adapt quickly. This ensures that I can morph myself into something that can react quickly and provide the most reasonable solution to a compiler bug or a syntax bug.
  In the months of working as a full time software engineer, I've learned the single most important principle of developing software for any industry: The client's needs coming before anything else. If the client's needs are not being met then priorities need to be re-aligned immediately. 
  From dealing with clients head on to working with internal infrastructure mishaps, I've gotten to experience a whole range of issues with developing and maintaining software for 
  
  Concrete examples:
  
  
  
  
  
  
  Vision
  We deliver healthcare in America, but the way we pay for it is broken. The fee-for-service model compromises quality, increases costs and doesn't hold anyone accountable. As a result, everyone is frustrated with the process, costs and outcomes of the healthcare system, including patients, doctors, nurses and administrators.
  
  We've worked within all of the various payment systems over the years, and we know the bundled care model is a better solution. It is not only for reducing costs, but also for measurably improving care and the patient experience.
  
  Today we participate in all of the Medicare bundled payment programs, as well as a growing number of commercial initiatives, with demonstrated results. Our goal is to help expand these programs so that more patients get better and get back home.
  
  Archway Health is a rapidly growing, innovative, healthcare technology company with a mission to improve healthcare through payment reform. Archway helps healthcare providers reduce cost and improve care in Medicare bundled payment programs. We have a passionate, fun, and ambitious team with offices in New York City and Boston. www.archwayhealth.com
  
  Position Summary:
  As a software developer, you'll help develop innovative cloud-based products like Archway Analytics and Archway Carelink that help our clients access insightful analytics and manage their bundled payment patients. As part of the development team, you will work with the Archway product and business teams as you design products and services that our customers love. You'll work with team members in our Boston and New York offices from Engineering, Sales, Marketing, and Care Management and Account Management. You have a passion for building things, collaborating with a fun, inspired team, and can break down complex problems into steps that drive product development and customer feedback at high speed. As a software developer, you will be part of shaping our mission to fix healthcare through payment reform.
  
  To apply, check out the Archway Health Website and share some ideas on why being a developer at our company is interesting to you.
'''
tags: []
isStarred: false
isTrashed: false
