createdAt: "2018-10-12T15:32:32.859Z"
updatedAt: "2018-10-12T18:13:49.853Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "michelle"
content: '''
  michelle
  beef picadillo NO BEANS extra sour cream with fanta orange or sierra mist (no ice)
  
  marixui
  chicken burrito
  orange fanta or coke
  
  stephen r
  chicken burrito ginger ale
  
  rich
  chicken burrito ginger ale
  
  ed
  beef picadillo sprite
  
  stephen n
  chicken burrito coke
  
  anastisya
  chicken burrito water
  
  mike
  chicken quesadilla with sour cream, diet coke
  
  jason
  chicken burrito with sour cream, water
'''
tags: []
isStarred: false
isTrashed: true
