createdAt: "2018-08-27T12:51:39.524Z"
updatedAt: "2018-09-06T19:14:11.741Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Clients Additional Info"
content: '''
  ## Clients Additional Info
  
  - Intraworks
    - We host their server, so we connect to the AWS machine when doing backend debugging
    - WSSQl01 (AWS) (JP)
  
  - Sonitrol
    - Big client, refer to Arturo when dealing with their systems
    - No permissions needed to access their server
  
  - Mutual
    - We host their server
  
  - Paladin Protective
    - We host their server
  
  - Security Solutions
    - We host their server
  
  - Sentry Watch
    - We host their server
  
  - Wavelynx
    - We host their server
  
  - SEi Security Equipment
    - Need to email Scott rherder@sei-security.com and cc jdawson@sei-security.com for access
    - user: jdawson pass: Callbeth2day
  
  - Ion247 (named Star Asset internally)
    - Company name above
  
  - Wilson Security
    - Have to do cisco anyconnect
    - user: abravo pass: 54321
  
  - Mecojax (named SiteSecure/Miller Electric)
    - Look at "Active Directory Users" workflow
  
'''
tags: []
isStarred: false
isTrashed: false
