createdAt: "2018-08-22T16:16:10.881Z"
updatedAt: "2018-11-01T18:34:11.935Z"
type: "MARKDOWN_NOTE"
folder: "b0ba50dc09be9361d2aa"
title: "Markdown Reference Guide"
content: '''
  # Markdown Reference Guide
  
  Italic
  _italic letters_
  
  Bold
  **bolded letters**
  
  Bolded and Italic
  _**bolded italic letters**_
  
  Headers
  # header one
  
  ## header two
  
  ### header three
  
  #### header four
  
  ##### header five
  
  ###### header six
  
  Headers + italics
  ## _italic header_
  
  Inline links
  [click here for google](www.google.com)
  
  ### [header inline link](www.google.com)
  
  Reference links
  Here's [a link to some text][another place].
  And [a now another link to other text][another-link].
  
  [another place]: www.git.com
  [another-link]: www.microsoft.com
  
  Inline image link
  The alt text isn't necessary, but it is helpful for accessibility users
  ![Benjamin Bannekat](https://octodex.github.com/images/bannekat.png)
  
  
  
  Writing Code
  ``` java
  public class func(int arg){
    return null;
  }
  ```
'''
tags: []
isStarred: false
isTrashed: true
