createdAt: "2018-09-28T12:53:37.911Z"
updatedAt: "2018-09-28T12:59:08.720Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Crystal Programming"
content: '''
  ## Crystal Programming
  
  - Boolean operators in crystal:
    - and
    - or
    - not
    - eqv
    - imp
    - xor
  
  - If-else statements
  ``` pascal
  if ( {db.Customer\\Customer Name} [1 to 2] = "An" and
        and ToText({db.Time\\Year}) [1] = "2") or
        ({Project.Customer\\CUSTOMER NAME} [1 to 2] = "Ja" and
  
  ToText({PROJECT.Time\\Year}) [1] = "2") Then
  ```
'''
tags: []
isStarred: false
isTrashed: false
