createdAt: "2018-09-07T13:53:38.568Z"
updatedAt: "2018-09-07T20:13:10.263Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "John Dawson, Platinum RMR issue"
content: '''
  John Dawson, Platinum RMR issue
  
  ![1a84ad10.png](:storage/6686f1f7-178f-4757-8ea4-3cd1e635136e/1a84ad10.png)
  
  ![1e822b05.png](:storage/6686f1f7-178f-4757-8ea4-3cd1e635136e/1e822b05.png)
  
  No lease options
  
  WS Test Estimate
  
  Problem job:
  \\# 43755-1-0
  
  Differences between problem job and normal job:
  table priceinfo
  lossreason
  problemjob: ""
  normaljob: NULL
  
  nextactitem
  problemjob: ""
  normaljob: NULL
  
  soldas
  problemjob: ""
  normaljob: Outright
  
  authTypeID
  problemjob: 0
  normaljob: -1
  
  authNote
  problemjob: ""
  normaljob: null
'''
tags: []
isStarred: false
isTrashed: true
