createdAt: "2018-08-29T20:45:40.045Z"
updatedAt: "2018-09-24T20:22:44.036Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Important Formulas"
content: '''
  Important Formulas
  
  Calculating GPM (default WeEstimate)
  GPM = [Sell (Revenue) - Cost ] / Sell (Revenue)
  
  Casey Walsh
  
  2pm Call Monday
  
  user: acassell
  pass: 54321
  
  user: cwalsh
  pass: 54321
'''
tags: []
isStarred: false
isTrashed: false
