createdAt: "2018-08-31T14:15:00.210Z"
updatedAt: "2018-10-30T20:15:06.348Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Manual Anchoring (Crystal Reports)"
content: '''
  ## Manual Anchoring (Crystal Reports)
  - A lot of crystal reports generation will require the use of global shared values that are used to store customer items/quantities
  - To line up things such as a signature line it will "snap"
  - Variable: PSA_SIGN_1_1 (1 = First Signer, 1 = First Sign of the First Signer)
  - Another ex: PSA_SIGN_1_2 (2 = Second sign of the first signer)
  - Another ex: PSA_DATE_2_1 
  - All variable should take up a line and not be broken up into multiple lines + be formatted into white colored text in order to not be seen by the client
  - All global variables must use := operator to remain global variable in all functions, otherwise using only = will change the scope to local
  - 
'''
tags: []
isStarred: false
isTrashed: true
