createdAt: "2018-08-24T14:26:32.658Z"
updatedAt: "2018-08-24T14:40:26.530Z"
type: "MARKDOWN_NOTE"
folder: "8129619718e42c249151"
title: "SQL Notes (w3schools)"
content: '''
  ## SQL Notes (w3schools)
  
  Stored Procedures
  - Basically a SQL script you can run
  
  Syntax
  ```sql
  create procedure procedure_name
  as
  sql_statement(s)
  
  go
  ```
  
  To execute
  ```sql
  exec procedure_name
  ```
  
  Stored Procedure Example
  - Will create stored procedure that selects all records from a table
  ```sql
  create procedure SelectAllCustomers
  as
  select * from Customers
  go
  ```
'''
tags: []
isStarred: false
isTrashed: false
