createdAt: "2018-08-23T17:54:06.633Z"
updatedAt: "2018-08-27T15:03:03.903Z"
type: "MARKDOWN_NOTE"
folder: "8129619718e42c249151"
title: "SQL Quick Notes"
content: '''
  # SQL Quick Notes
  
  **Basic Crud**
  
  Select
  ``` sql
  select * from table_name where col_name = 'bob'
  ```
  
  Update
  ```sql
  update table_name 
  set col_name = "new_value"
  where col_name = id_key
  ```
  
  Searching for a table element
  ```sql
  select * from table_name where col_name like '%search_term%'
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
