createdAt: "2018-10-30T20:35:48.387Z"
updatedAt: "2018-11-01T18:34:28.001Z"
type: "SNIPPET_NOTE"
folder: "b0ba50dc09be9361d2aa"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
