createdAt: "2018-10-17T15:42:41.827Z"
updatedAt: "2018-11-01T14:19:27.376Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Useful SQL Codes"
content: '''
  Useful SQL Codes
  
  dbo.labordata duplicate key resolution
  ```sql
  update tmpfolders
  set prt =  b.pos from tmpfolders
  inner join
  (select pos,idnum from tmpfolders where lvl1prt=0 and lvl2prt=0 ) b
  on b.idnum=tmpfolders.lvl1prt or b.idnum=tmpfolders.lvl2prt
  
  
  update tmpfolders
  set prt=pos
  where lvl1prt=0 and lvl2prt=0
  ```
  
  Document parameters retrieval for doc editor
  ``` sql
  select priceinfo.priceinfoID, templateID from document
  inner join priceinfo on document.sanum = priceinfo.sanum and document.jobnum=priceinfo.jobnum and document.altnum=priceinfo.altnum
  inner join FolderSummary on priceinfo.priceinfoID=FolderSummary.priceinfoid
  ```
  
  Look through all tables for a column that matches to search term
  ``` sql
  SELECT      c.name  AS 'ColumnName'
              ,t.name AS 'TableName'
  FROM        sys.columns c
  JOIN        sys.tables  t   ON c.object_id = t.object_id
  WHERE       c.name LIKE '%SEARCHTERM%'
  ORDER BY    TableName
              ,ColumnName;
  ```
'''
tags: []
isStarred: false
isTrashed: false
