createdAt: "2018-10-05T12:57:07.816Z"
updatedAt: "2018-10-08T18:42:07.022Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Quick Crystal Reference"
content: '''
  ## Quick Crystal Reference
  
  Customer name - {name}
  Address - {address1}{@SiteAddress2}
  City - {city}
  State - {state}
  Zip - {zip}
  County - {County}
  Telephone - {@MainPocinfFormatPhone}
  Landline phone - {MainPocinfFormatLandLine}
  Phone 1 - {@MainPocinfFormatPhone1}
  Phone 2- {@MainPocinfFormatPhone2}
  Email - {@ContactEmail}
  Full name - {@UserFullName} (also use Freestyle Script for font)
  
  Proposal Issued date: - {Print Date}
  Proposal Valid until: - {@VaidToDate}
  Customer Serial Number - {accstrlink}
  Job number - {sanum}-{jobnum}-{altnum}
  
  Site Name - {sitedescr}
  Site Address - {address1}{@SiteAddress2}{@SiteCSZ}
  Site Email - {SiteEmail}
  
  Custom text - {@CustomTextNotes}
  Deposit 50% - {deposit50}
  Balance due 50% - {balancedue50}
  Bill frequency - {@BillingFrequency}
  
  Printed customer name - {pname}
  Printed customer title - {ptitle}
  Printed date - {Print Date}
  
  Agreement Term Name - {@AgreementTerm}
  Cancellation deadline - {@CancelDate}
  
  RMR
  
  Total RMR per month - {@RMRTotal}
  Total RMR per month (service) - {@RMRTotalSvc/Mon/TC}
  
  
  Michelle's Syntax Style
  
  Customer Signature: SIGN_1_1
  
  
  Provider Signature: SIGN_2_1 
  Provider Printed Name/Title: TEXT_2_1 
  Provide Sign Date: DATE_2_1 
  
  
'''
tags: []
isStarred: false
isTrashed: false
