createdAt: "2018-08-24T13:31:47.002Z"
updatedAt: "2018-08-29T15:27:20.288Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Meeting Notes (Week of 8/17/2018)"
content: '''
  Meeting Notes (Week of 8/17/2018)
  - Clients
    - Alarm or Integrators type
    - Alarm clients sell burglar alarm systems (residential or small business)
    - More relationship type people, smaller client base to work with
    - Integrators sell integrated systems, motion detectors
    - Don't specialize into RMR but are currently getting into that business aspect
    - Access controls, fire alarm systems into one seamless product
    - Have mainly 4-6 primary clients, likely government or hospital contracts
    - Change Orders
    - Made a mistake in estimation, this option will edit the pre-existing job
    - General contractors/subcontractors
    - Subcontractor will manage specific business aspect under general contractor
    - Subcontractor maintains good relationship with general contractor
    - Subcontractor are primary WeSuite users who send quotes to clients
    - Clients are generally general contractor
    - Monitoring involved such as maintenance and repairs
    - General scenario entails outright sales (installation) and then upkeep (recurring expenses)
    - Transition from general client to a more specific client that requires on-call general upkeep
    - Maintenance agreements (RMR) provide additional revenue for contractors to break even and make added profit
    - SQL databases, connect to SQL server
    - Check on Tettra docs for references
   
  - Pre-conference meeting to set up a system for client
    - Required to obtain excel data from company in order to set up custom configuration
    - Likely issue in long term, every company is different: can support long term but customized things when broken will take extended time
    - Data from company must be configured in a way that WeSuite can import into WeOpp, WeEst
    - Basically what you see on the applications: Parts, Packages, Labor, etc.
    - Necessary to interact with accounting reps for financial data/estimates
    - Pre-calls involve going over with client and reviewing data sheets to see whether they conform to WeSuite standards
    - Each client is different, some have different buy-sell models that need clarification for WeSuite team
    - No solid schedule for client installation since hiccups may occur so do not make any clear deadline promises
    - Part of the deployment team is responsible for data load 
    - Scenario
      - Wire gets purchased from multiple vendors
      - Wire could be purchased last minute, weeks ahead, in bulk, or from select vendors
    - Part of early meetings consist of instructing client on the software basics
    - Line by line guidance of how parts of the software works
   
  - Conference meeting after setting system up for client
    - ADI vendor? (what is the name)
    - Multiple vendors can be a primary concern from clients
      - We get a list of items from ADI
      - KT (kit part) is a specific client case where KT pricing is different from item listing pricing (could be due to bulk discount?)
      - There are different types of proposal estimates: leasing, outright sales
        - For every company, either estimate type will require different fields: RMR, sell price, cost, GPM (gross profit margin), deposit, 
  
  - RCM (Rate Creation multiple) etc.
   
  - Data dump basics
    - Download excel sheet with different dp (datapoints)
    - From there, connect to Jump Desktop
      * Search for company name (Mutual)
      * Use credentials using weremote (from keeper)
      * If one is not made, then duplicate from already existing user (right click -> duplicate)
      * Type in credentials (weremote) and change user label name 
      * Once logged in, go open application in directory: C:\\WeSuite\\Client_Sandbox\\wesuite.exe
      * The application opened should be called WeEstimate V… Live
    * Click on Tools - Part Import - New (on the left)   - Select xls file
    * On toolbar above excel sheet, click dropdown to select the required labels
      * mfgr (manufacturing company or in some cases, the client company itself)
      * desc (description)
      * unitcost (unit cost)
      * model (model number)
  
'''
tags: []
isStarred: false
isTrashed: false
