createdAt: "2018-09-25T15:05:39.988Z"
updatedAt: "2018-09-25T18:38:04.281Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Mon26 or"
content: '''
   Mon26 or
      Mon27 or
      Mon37 or
      Mon38 or
      Mon39 or
      Mon40 or
      instr(1, {rep_FSMbillcode.descr},"Service", 1) > 0
      
'''
tags: []
isStarred: false
isTrashed: true
