createdAt: "2018-08-23T20:05:59.342Z"
updatedAt: "2018-11-16T21:19:11.856Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "WeSuite SQL Notes"
content: '''
  WeSuite SQL Notes
  
  ``` sql
  -- adding people to wesuite go manually (only in extreme cases)
  
  select * from AppInfo where customerID = theIDofcustomerfromLicensingwebsite
  select * from Application -- verify which applicationID to use
  
  select * from customer where customerid=140
  
  select * from userlist where customerid=140
  
  USE [blackbox]
  GO
  
  INSERT INTO [dbo].[UserList]
             ([customerID]
             ,[appInfoID]
             ,[username]
             ,[email]
             ,[lname]
             ,[fname]
             ,[creationDate]
             ,[disableDate]
             ,[disable]
             ,[LastUpdDt]
             ,[newUser]
             ,[licenseUTypeID]
             ,[licenseKey]
             ,[noOfQuotes]
             ,[lastCreatedQuoteId]
             ,[lastQuoteDescription]
             ,[lastCreatedQuoteDate]
             ,[lastUpdatedQuoteDate])
       VALUES
             (140
             ,387
             ,'tbrunson'
             ,'theodore@alertprotective.com'
             ,'Brunson'
             ,'Ted'
             ,'8/13/2018  9:27:58 AM'
             ,NULL
             ,0
             ,'9/20/2018  10:56:21 AM'
             ,1
             ,1
             ,'4EuLOMO9PeE3xU3PMdcBDsLat5MpRVP3AdfPx/Xo5fMOrdOeQrGBuYMMo47uynQD'
             ,0
             ,0
             ,''
             ,'1900-01-01 00:00:00.000'
             ,'1900-01-01 00:00:00.000')
  GO
  ```
  
  ```sql
  -- Selecting from transactional data tables
  
  select * from mtest where priceinfoid=14958
  select * from proposal where sanum=16027
  
  select * from sh_location where custID=4241
  
  select * from labordata where priceinfoid=14964
  select * from msales where priceinfoid=14964
  
  -- Los Pollos Hermanos test case
  -- sanum = 16027 (Project number)
  -- priceinfoID = 14964 (Job Number)
  -- custID = 4241
   
   -- Matching records from location, customer tables using ID
  select * from sh_location 
  left join sh_customer 
  on sh_customer.custID = sh_location.custID 
  where sh_customer.custID = 4241
  
  ```
  
  - Experimental deletion of WeOpp leads
  ```sql
  -- process of deleting a lead from weopp
  
  select * from opp_item -- get lead oppid
  
  select * from opp_itemtracking
  
  select * from opp_contact_link
  
  select * from opp_answers
  
  -- do these one at a time (must remove all references from foreign tables)
  delete from opp_itemtracking
  where opptrackingID=20783
  
  delete from opp_contact_link
  where oppid=7416
  
  delete from opp_answers
  where oppid=7416
  -- final deletion
  delete from opp_item
  where idnum=7416
  ```
'''
tags: []
isStarred: false
isTrashed: false
