createdAt: "2018-10-23T20:45:49.044Z"
updatedAt: "2018-10-30T20:16:29.887Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "todo:"
content: '''
  todo:
  ...
'''
tags: []
isStarred: false
isTrashed: true
