createdAt: "2018-08-24T13:23:01.713Z"
updatedAt: "2018-12-12T21:20:54.499Z"
type: "MARKDOWN_NOTE"
folder: "0295d9293f4867e4a88c"
title: "Support Copy Paste"
content: '''
  ## Support Copy Paste
  
  Pre-conditions:
  - 
  -
  
  Steps:
  1.
  2.
  3.
  
  Expected behavior:
  - 
  
  Current behavior:
  -
  
  
  Voicemail password: 3430
  Extension: __701__
  Number __914 214 9538__
'''
tags: []
isStarred: false
isTrashed: false
