<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Patient History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
   </head>
   <style>
      table th, table td {
         padding: 5px;
      }
   </style>
   <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
         <a class="navbar-brand" href="/greeting">Patient UI</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav">
             <li class="nav-item">
               <a class="nav-link" href="/greeting">Patient Entry</a>
             </li>
             <li class="nav-item">
               <!-- change to other page -->
               <a class="nav-link" href="/members">Patient History</a>
             </li>
           </ul>
         </div>
       </div>
     </nav>
     <div class="container">
      <br>
      <!-- Basic table to display all patients entered so far -->
      <table border="1">
        <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th>DOB Month</th>
         <th>DOB Day</th>
         <th>DOB Year</th>
         <th>Email</th>
         <th>Primary Address</th>
         <th>Secondary Address</th>
         <th>City</th>
         <th>State</th>
         <th>Zip Code</th>
        </tr>
        <tr th:each ="member : ${members}">
         <td th:utext="${member.fname}">...</td>
         <td th:utext="${member.lname}">...</td>
         <td th:utext="${member.month}">...</td>
         <td th:utext="${member.day}">...</td>
         <td th:utext="${member.year}">...</td>
         <td th:utext="${member.email}">...</td>
         <td th:utext="${member.addr1}">...</td>
         <td th:utext="${member.addr2}">...</td>
         <td th:utext="${member.city}">...</td>
         <td th:utext="${member.state}">...</td>
         <td th:utext="${member.zip}">...</td>
        </tr>
      </table>
    </div>
   </body>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
